@import '../../index.scss';

.textHelp {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
  margin-left: 12px;
  @include middle() {
    margin-left: 0;
  }
}
