@import '../../index.scss';

.container {
  @include container();
  margin-bottom: 92px;
  @include tablets() {
    margin-bottom: 64px;
  }
  @include phones() {
    margin-bottom: 42px;
  }
}

.wrapperHistory {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
  @include phones() {
    font-size: 18px;
    line-height: 28px;
  }
}

.discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  margin-bottom: 32px;
  @include phones() {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.content {
  background: #6e76f1;
  opacity: 0.7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  height: 218px;
  //   margin-bottom: 92px;
  @include tablets() {
    padding-left: 16px;
    padding-right: 16px;
    height: 204px;
    margin-bottom: 64px;
  }
  @include phones() {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 28px;
    height: 182px;
    margin-bottom: 42px;
  }
}
