@import '../../index.scss';

.button {
  cursor: pointer;
  text-transform: uppercase;
  background-image: $activeColor;
}

.button[disabled] {
  background-image: none;
  background-color: #ebebeb;
}
