@import '../../index.scss';

.wrapper {
  @include wrapper();
}

.container {
  @include container();
  display: flex;
  align-items: flex-start;
  @include phones() {
    flex-direction: column;
    align-items: normal;
  }
}

.main {
  @include main();
  margin-top: 40px;

  @include phones() {
    margin-top: 30px;
  }
}

.content {
  flex: 1 1 auto;
  margin-left: 30px;
}

.books {
  margin-top: 40px;
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}
