@import '../../index.scss';

.authPage {
  width: 100%;
  min-height: 100vh;
  background-image: $activeColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include middle() {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-top: 180px;
  margin-bottom: 60px;
  @include middle() {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
  }
}

.formContainer {
  width: 100%;
  max-width: 530px;
  padding: 46px 58px;
  border-radius: 16px;
  background: #fff;
  @include middle() {
    max-width: none;
    padding: 24px 16px;
  }
}
