@import '../../index.scss';

.errorMessage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  padding: 27px 20px;
  @include phones() {
    padding: 12px 15px;
    align-items: flex-start;
  }
}

.error {
  background-color: #feebea;
  border: 1.5px solid #f42c4f;
}

.success {
  background: #ebf9f1;
  border: 1.5px solid #00ca71;
}

.container {
  @include container();
  position: fixed;
  z-index: 100;
  top: 64px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.closeError {
  display: none;
}

.textError {
  display: flex;
  align-items: center;
  @include phones() {
    align-items: flex-start;
  }
}

.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  margin-left: 12px;
  margin-right: 12px;
}
