@import '../../index.scss';

.errorMessage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feebea;
  border: 1.5px solid #f42c4f;
  border-radius: 5px;
  padding: 27px 52px;
}

.container {
  @include container();
  position: fixed;
  top: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.closeError {
  display: none;
}

.textError {
  display: flex;
  align-items: center;
}

.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  margin-left: 12px;
  margin-right: 12px;
}
