@import '../../index.scss';

.cardWindow {
  display: grid;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  grid-auto-flow: row;
  grid-template: 392px 70px/174px;
  @include phones() {
    grid-template: 392px 70px/242px;
  }
}

.image {
  flex: 1 1 242px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: contain;
  }

  @include phones() {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.noRaring {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  display: flex;
  align-self: center;
}

.content {
  display: grid;
  grid-auto-flow: row;
  grid-template: 242px 58px 54px 29px/1fr;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.author {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  letter-spacing: 0.1px;
  color: #727272;
  display: inline-block;
  overflow: hidden;
}

.button {
  margin-top: 20px;
  @include activeColor();
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}

.button[disabled] {
  color: #a7a7a7;
  background: #f9f9fa;
  border: 1px solid #bfc4c9;
}

.bookingUser {
  background: #ffffff;
  border: 1px solid #bfc4c9;
  color: #363636;
}

.commented {
  background: #ffffff;
  border: 1px solid #bfc4c9;
  color: #363636;
}
