@import '../../index.scss';

.cardWindow {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  justify-content: center;
}

.image {
  margin-bottom: 16px;
  flex: 1 1 242px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
  }

  @include phones() {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.noRaring {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
}

.title {
  margin-top: 22px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.author {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  letter-spacing: 0.1px;
  color: #727272;
}

.button {
  margin-top: 28px;
  @include activeColor();
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 23px;
  border-radius: 20px;
}
