@import '../../index.scss';

.container {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  position: relative;

  @include phones() {
    margin-top: 25px;
  }
}

.logoTitle {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  & span {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-left: 10px;
    color: $mainTextColor;
    letter-spacing: 0.7px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: $mainTextColor;
  }

  & span:hover {
    -webkit-text-stroke: 1px #0000;
    -webkit-text-fill-color: #6e76f1;
  }

  img {
    width: 100%;
  }

  @include laptop() {
    display: none;
  }
}

.burger {
  display: none;
  cursor: pointer;

  @include laptop {
    display: block;
    height: 20px;
    width: 26px;
    position: relative;
    &:hover::before {
      background-image: $activeColor;
    }
    &:hover::after {
      background-image: $activeColor;
    }
    &:hover span {
      background-image: $activeColor;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 3px;
      background-color: #363636;
      border-radius: 1.5px;
      transition: all, 0.3s;
    }
    & span {
      top: 8px;
      left: 0;
      background-color: #363636;
      height: 3px;
      position: absolute;
      width: 26px;
      border-radius: 1.5px;
      transition: all, 0.3s;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 26px;
      height: 3px;
      background-color: #363636;
      border-radius: 1.5px;
      transition: all, 0.3s;
    }
  }
}

.visible {
  &::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all, 0.3s;
    top: 8px;
  }
  & span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all, 0.3s;
    bottom: 9px;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  margin-left: 105px;

  @include laptop() {
    margin-left: 25px;
  }

  @include phones() {
    font-size: 18px;
    line-height: 28px;
  }
}

.account {
  display: flex;
  align-items: center;
  cursor: pointer;
  & span {
    display: inline-block;
  }
  @include laptop {
    display: none;
  }

  img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
  }
}

.accountName {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $mainTextColor;
  margin-right: 15px;
}
