@import '../../index.scss';

.wrapper {
  width: 100%;
  max-width: 530px;
  padding: 46px 58px;
  background: #ffffff;
  border-radius: 16px;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
  @include middle() {
    max-width: none;
    padding: 24px 16px;
  }
}

.formInput {
  position: relative;
  height: 56px;
  background: #f9f9fa;
  border-radius: 4px 4px 0px 0px;
  width: 100%;

  input {
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    padding-left: 12px;
    border-bottom: 1px solid #bfc4c9;
  }
  & input:focus + label,
  input:not(:placeholder-shown) + label {
    display: block;
    top: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #a7a7a7;
  }

  label {
    display: none;
    position: absolute;
    top: 50%;
  }
  input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  input:focus::-webkit-input-placeholder {
    background-image: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
  input:focus::-moz-placeholder {
    background-image: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
  input:focus:-moz-placeholder {
    background-image: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
  input:focus:-ms-input-placeholder {
    background-image: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
}

.firstInput {
  margin-bottom: 36px;
}

.discription {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
  margin-top: 2px;
}

.eyeImage {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  & img:last-child {
    margin-left: 13px;
  }
}

.forgottenPassword {
  margin-left: 12px;
  margin-bottom: 32px;
  margin-top: 20px;
  background-image: none;

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #a7a7a7;
    text-transform: none;
  }
}

.button {
  width: 100%;
  @include activeColor();
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 23px;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
  @include middle() {
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

.button[disabled] {
  background-image: none;
  background-color: #ebebeb;
}

.bottomText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #727272;
}
